extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container
                h1 Informações Base da Entidade
            .w3-container
                table.w3-table-all
                    tr  
                        th Estado
                        th Sigla
                        th SIOE
                        th Internacional
                        th Designacao
                    tr 
                        td= entidade.estado
                        td= entidade.sigla
                        td= entidade.sioe
                        td= entidade.internacional
                        td= entidade.designacao
            hr
            .w3-container
                h2 Tipologias
                table.w3-table-all
                    tr  
                        th Sigla
                        th Designacao
                        th Id
                    each t in tipologias
                        tr
                            td=t.sigla
                            td=t.designacao 
                            td
                                a(class='w3-button' href='/tipologia/' + t.id)= t.id
                hr
                .w3-container
                    h2 Processos de que é dono
                table.w3-table-all
                    tr  
                        th Título
                        th Código
                    each d in dono
                        tr
                            td=d.titulo 
                            td
                                a(class='w3-button' href='http://clav.dglab.gov.pt/classes/consultar/c' + d.codigo)=d.codigo
                hr           
                .w3-container
                    h2 Processos em que intervem como participante
                table.w3-table-all
                    tr  
                        th Título
                        th Código
                    each p in participante
                        tr
                            td=p.titulo
                            td
                                   a(class='w3-button' href='http://clav.dglab.gov.pt/classes/consultar/c' + p.codigo)=p.codigo
        .w3-container
        footer.w3-container.w3-teal
            a(href='javascript:window.history.back()').w3-button Página anterior
            a(href='/').w3-button Página Inicial
                    