extends layout
block content
    .w3-container
        header.w3-container
            h3 Editar música
            .w3-container
                    label
                        b Título
                    input.w3-input.w3-border.w3-light-grey(id='1' type='text' name='tit' value=m.tit)
                    label
                        b Duracao
                    input.w3-input.w3-border.w3-light-grey(id='2' type='text' name='duracao' value=m.duracao)
                    label
                        b Provincia 
                    input.w3-input.w3-border.w3-light-grey(id='3' type='text' name='prov' value=m.prov)
                    label
                        b Local 
                    input.w3-input.w3-border.w3-light-grey(id='4' type='text' name='local' value=m.local)
                    label
                        b Musico 
                    input.w3-input.w3-border.w3-light-grey(id='5' type='text' name='musico' value=m.musico)
                    label
                        b Link ficheiro 
                    input.w3-input.w3-border.w3-light-grey(id='6' type='text' name='file["@t"]' value=m.file["@t"])
                    label
                        b Nome ficheiro 
                    input.w3-input.w3-border.w3-light-grey(id='7' type='text' name='file["#text"]' value=m.file["#text"])
                    hr
                    button.w3-button.w3-blue-grey(onclick="editaMusica('" + m.id +"')") Submeter
    footer.w3-container